{
  "openapi": "3.0.1",
  "info": {
    "title": "Parchment APIs",
    "description": "Parchments API documentation for partner integrations, enabling secure e-prescription services",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.parchmenthealth.io/external"
    },
    {
      "url": "https://api.parchmenthealth.io/external"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/organizations/{organization_id}/users/{user_id}/patients": {
      "post": {
        "description": "Creates a new patient in Parchment",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Patient data to add to Parchment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPatient"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Patient created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientResponse"
                },
                "example": {
                  "success": true,
                  "statusCode": 201,
                  "message": "Patient created successfully",
                  "data": {
                    "external_patient_id": "PARTNER#12345",
                    "parchment_patient_id": "pat_abc123def456",
                    "url": "https://app.parchment.health/dashboard/patients/pat_abc123def456"
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_abc123"
                }
              }
            }
          },
          "202": {
            "description": "Patient creation accepted - conflicts found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientResponse"
                },
                "example": {
                  "success": true,
                  "statusCode": 202,
                  "message": "Patient creation accepted - conflicts found",
                  "data": {
                    "external_patient_id": "PARTNER#12345",
                    "parchment_patient_id": "pat_existing789",
                    "url": "https://app.parchment.health/dashboard/patients/pat_existing789"
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_def456"
                }
              }
            }
          },
          "409": {
            "description": "Partner patient ID conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 409,
                  "error": {
                    "type": "https://parchment.health/errors/partner-patient-id-conflict",
                    "title": "Partner patient ID conflict",
                    "detail": "Partner patient ID 'PARTNER#12345' is already in use by another patient. Please use a unique identifier."
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_ghi789"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 422,
                  "error": {
                    "type": "https://parchment.health/errors/validation-error",
                    "title": "Validation failed",
                    "detail": "There were some problems with your input.",
                    "validation": [
                      {
                        "field": "family_name",
                        "message": "Family name is required",
                        "code": "VALIDATION_ERROR"
                      },
                      {
                        "field": "date_of_birth",
                        "message": "Invalid date format. Use YYYY-MM-DD",
                        "code": "INVALID_FORMAT"
                      }
                    ]
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_jkl012"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 400,
                  "error": {
                    "type": "https://parchment.health/errors/invalid-request",
                    "title": "Bad request",
                    "detail": "The request could not be processed due to invalid data."
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_mno345"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/users/{user_id}/patients/ihi-precheck": {
      "post": {
        "description": "Checks whether patient data resolves a valid IHI without creating the patient. Same search as Create Patient; the IHI number is never returned.",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Same body as Create Patient. Supply every identifier you hold.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPatient"
              },
              "example": {
                "partner_patient_id": "PMS-000123",
                "partner_id": "demo",
                "given_name": "Denice",
                "family_name": "SHEA",
                "date_of_birth": "1992-12-16",
                "sex": "F",
                "medicare_card_number": "6951907501",
                "medicare_irn": "1",
                "phone": "0417903853",
                "email": "919@Ausnet.com.au",
                "australian_street_address": {
                  "street_number": "163",
                  "street_name": "Law Rd",
                  "suburb": "Jitarning",
                  "state": "WA",
                  "postcode": "6365"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Precheck completed - read data.outcome for the result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHIPrecheckResponse"
                },
                "examples": {
                  "ihi_found": {
                    "summary": "A verified IHI matched the supplied details",
                    "value": {
                      "success": true,
                      "statusCode": 200,
                      "message": "IHI found using Medicare number",
                      "code": "SUCCESS",
                      "data": {
                        "outcome": "ihi_found",
                        "create_would_succeed": true,
                        "ihi_check_passed": true,
                        "searched_path": "medicare",
                        "ihi_status": "ACTIVE",
                        "ihi_record_status": "VERIFIED"
                      },
                      "timestamp": "2024-01-15T10:30:00.000Z",
                      "requestId": "req_1705312200000_abc123"
                    }
                  },
                  "no_match": {
                    "summary": "The search ran but no IHI resolved - creation would still succeed, without an IHI",
                    "value": {
                      "success": true,
                      "statusCode": 200,
                      "message": "No IHI found using Medicare number",
                      "code": "SUCCESS",
                      "data": {
                        "outcome": "no_match",
                        "create_would_succeed": true,
                        "ihi_check_passed": false,
                        "searched_path": "medicare"
                      },
                      "timestamp": "2024-01-15T10:30:00.000Z",
                      "requestId": "req_1705312200000_abc123"
                    }
                  },
                  "insufficient_data": {
                    "summary": "No search path can run - each entry lists the fields that would unlock it",
                    "value": {
                      "success": true,
                      "statusCode": 200,
                      "message": "Not enough identifiers to run an IHI search",
                      "code": "SUCCESS",
                      "data": {
                        "outcome": "insufficient_data",
                        "create_would_succeed": false,
                        "search_paths": [
                          {
                            "path": "ihi_number",
                            "missing": [
                              "ihi_number"
                            ]
                          },
                          {
                            "path": "medicare",
                            "missing": [
                              "medicare_card_number",
                              "medicare_irn"
                            ]
                          },
                          {
                            "path": "dva",
                            "missing": [
                              "dva_file_number"
                            ]
                          },
                          {
                            "path": "mobile",
                            "missing": [
                              "phone"
                            ]
                          },
                          {
                            "path": "email",
                            "missing": [
                              "email"
                            ]
                          },
                          {
                            "path": "australian-street-address",
                            "missing": [
                              "australian_street_address"
                            ]
                          },
                          {
                            "path": "international-address",
                            "missing": [
                              "international_address"
                            ]
                          }
                        ]
                      },
                      "timestamp": "2024-01-15T10:30:00.000Z",
                      "requestId": "req_1705312200000_abc123"
                    }
                  },
                  "already_exists": {
                    "summary": "A patient with this partner_patient_id already exists - the live IHI check still runs and is reported",
                    "value": {
                      "success": true,
                      "statusCode": 200,
                      "message": "Patient already exists; IHI check did not pass using Medicare number",
                      "code": "SUCCESS",
                      "data": {
                        "outcome": "already_exists",
                        "create_would_succeed": true,
                        "ihi_check_passed": false,
                        "searched_path": "medicare",
                        "parchment_patient_id": "pat_abc123def456",
                        "has_ihi": false
                      },
                      "timestamp": "2024-01-15T10:30:00.000Z",
                      "requestId": "req_1705312200000_abc123"
                    }
                  },
                  "organization_not_ready": {
                    "summary": "The organization has no HPI-O configured, so no IHI search is possible - contact Parchment",
                    "value": {
                      "success": true,
                      "statusCode": 200,
                      "message": "Organization has no HPI-O; an IHI search cannot run",
                      "code": "SUCCESS",
                      "data": {
                        "outcome": "organization_not_ready",
                        "create_would_succeed": false
                      },
                      "timestamp": "2024-01-15T10:30:00.000Z",
                      "requestId": "req_1705312200000_abc123"
                    }
                  },
                  "hi_service_error": {
                    "summary": "The HI Service could not be reached - retry later",
                    "value": {
                      "success": true,
                      "statusCode": 200,
                      "message": "HI Service unavailable; the IHI search could not complete",
                      "code": "SUCCESS",
                      "data": {
                        "outcome": "hi_service_error",
                        "create_would_succeed": false,
                        "searched_path": "medicare"
                      },
                      "timestamp": "2024-01-15T10:30:00.000Z",
                      "requestId": "req_1705312200000_abc123"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 401,
                  "error": {
                    "type": "https://parchment.health/errors/authentication-required",
                    "title": "Authentication required",
                    "detail": "Invalid client credentials"
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_abc123"
                }
              }
            }
          },
          "409": {
            "description": "Multiple patients already share this partner_patient_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 409,
                  "error": {
                    "type": "https://parchment.health/errors/resource-conflict",
                    "title": "Conflict",
                    "detail": "Patient already exists"
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_abc123"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed - includes schema failures and identifier format/checksum failures (Medicare checksum, IHI check digit)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 422,
                  "error": {
                    "type": "https://parchment.health/errors/validation-error",
                    "title": "Validation failed",
                    "detail": "There were some problems with your input.",
                    "validation": [
                      {
                        "field": "medicare_card_number",
                        "message": "Invalid Medicare number",
                        "code": "VALIDATION_ERROR"
                      }
                    ]
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_abc123"
                }
              }
            }
          }
        },
        "summary": "IHI Precheck"
      }
    },
    "/v1/organizations/{organization_id}/users/{user_id}/patients/{patient_id}": {
      "put": {
        "description": "Updates an existing patient in Parchment",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "description": "Patient ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Patient data to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePatient"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Patient updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientUpdateResponse"
                },
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "Patient updated successfully",
                  "data": {
                    "patient_id": "pat_abc123def456",
                    "family_name": "Smith",
                    "given_name": "Jane",
                    "date_of_birth": "1985-03-15",
                    "sex": "F",
                    "phone": "0412345678",
                    "email": "jane.smith@example.com"
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_abc123"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 401,
                  "error": {
                    "type": "https://parchment.health/errors/authentication-required",
                    "title": "Unauthorized",
                    "detail": "Valid authentication token is required"
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_def456"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 403,
                  "error": {
                    "type": "https://parchment.health/errors/insufficient-scope",
                    "title": "Insufficient permissions",
                    "detail": "This operation requires the 'update:patient' scope"
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_ghi789"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 422,
                  "error": {
                    "type": "https://parchment.health/errors/validation-error",
                    "title": "Validation failed",
                    "detail": "There were some problems with your input.",
                    "validation": [
                      {
                        "field": "phone",
                        "message": "Phone number must be a valid Australian mobile number (e.g., 0412345678, +61412345678)",
                        "code": "VALIDATION_ERROR"
                      },
                      {
                        "field": "dva_file_number",
                        "message": "DVA card color is provided but DVA file number is missing",
                        "code": "VALIDATION_ERROR"
                      }
                    ]
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_jkl012"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 500,
                  "error": {
                    "type": "https://parchment.health/errors/internal-error",
                    "title": "Internal server error",
                    "detail": "Failed to update patient"
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_mno345"
                }
              }
            }
          }
        }
      }
    },
    "/v1/token": {
      "post": {
        "security": [],
        "description": "Generate an access token for API authentication",
        "parameters": [
          {
            "name": "x-partner-id",
            "in": "header",
            "required": true,
            "description": "Partner ID for authentication - provided by Parchment",
            "schema": {
              "type": "string",
              "example": "tacklit"
            }
          },
          {
            "name": "x-partner-secret",
            "in": "header",
            "required": true,
            "description": "Partner secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-organization-id",
            "in": "header",
            "required": true,
            "description": "Organization ID for authentication - provided by User from Parchment Portal",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by User from Parchment Portal",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": true,
            "description": "Use the user_id of the user making the request to ensure actions are correctly attributed. Do not use the user_id of the user who originally set up the integration.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Token request parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                },
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "Token generated successfully",
                  "data": {
                    "accessToken": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImtleTEifQ...",
                    "expiresIn": 3600,
                    "tokenType": "Bearer",
                    "scope": [
                      "create:patient",
                      "read:patient_prescription"
                    ]
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_pqr678",
                  "meta": {
                    "apiVersion": "1.0",
                    "responseTime": 125
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 422,
                  "error": {
                    "type": "https://parchment.health/errors/validation-error",
                    "title": "Validation failed",
                    "detail": "There were some problems with your input.",
                    "validation": [
                      {
                        "field": "scope",
                        "message": "Invalid enum value. Expected 'create:patient' | 'read:patient' | 'update:patient' | 'delete:patient' | 'read:patient_prescription' | 'create:user' | 'read:user' | 'read:users' | 'update:user' | 'delete:user', received 'remove:patient'",
                        "code": "VALIDATION_ERROR"
                      }
                    ]
                  },
                  "timestamp": "2025-08-19T10:11:57.268Z",
                  "requestId": "1-68a44ded-5c4fdd75455250d518c3bab2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 401,
                  "error": {
                    "type": "https://parchment.health/errors/authentication-required",
                    "title": "Unauthorized",
                    "detail": "Invalid partner credentials provided."
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_vwx234",
                  "meta": {
                    "apiVersion": "1.0"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/validate": {
      "get": {
        "description": "Validate integration token and mark organization as integrated",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token validation successful and organization marked as integrated",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "data": {
                    "validated": true
                  },
                  "message": "Successfully validated token",
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_xyz123"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token, missing credentials, or insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_token": {
                    "summary": "Invalid or expired token",
                    "value": {
                      "success": false,
                      "statusCode": 401,
                      "error": {
                        "type": "https://parchment.health/errors/authentication-required",
                        "title": "Unauthorized",
                        "detail": "invalid token"
                      },
                      "timestamp": "2024-01-15T10:30:00.000Z",
                      "requestId": "req_1705312200000_def456"
                    }
                  },
                  "missing_secret": {
                    "summary": "Missing organization secret",
                    "value": {
                      "success": false,
                      "statusCode": 401,
                      "error": {
                        "type": "https://parchment.health/errors/authentication-required",
                        "title": "Unauthorized",
                        "detail": "Missing x-organization-secret"
                      },
                      "timestamp": "2024-01-15T10:30:00.000Z",
                      "requestId": "req_1705312200000_ghi789"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 500,
                  "error": {
                    "type": "https://parchment.health/errors/internal-server-error",
                    "title": "Internal Server Error",
                    "detail": "An unexpected error occurred during validation"
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_mno345"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/users/{user_id}/patients/{patient_id}/prescriptions": {
      "get": {
        "description": "Get prescriptions for a specific patient",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of prescriptions to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lastKey",
            "in": "query",
            "required": false,
            "description": "Last key to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "description": "Patient ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved prescriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPrescriptionsExternal"
                },
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "Prescriptions retrieved successfully",
                  "data": {
                    "patient": {
                      "given_name": "John",
                      "family_name": "Smith",
                      "date_of_birth": "1990-01-15T00:00:00.000Z",
                      "sex": "M",
                      "patient_id": "1234567890",
                      "partner_patient_id": "PARTNER#12345"
                    },
                    "prescriber": {
                      "given_name": "Dr. Emily",
                      "family_name": "Johnson",
                      "user_id": "8e1c9bab-6614-4723-8981-87c8fa026dae"
                    },
                    "prescriptions": [
                      {
                        "prescription_type": "ELECTRONIC",
                        "url": "https://egw-etp-int-qrcode-web-au-se.azurewebsites.net/scripts/2F3WFX8J4WQH8T72X9",
                        "scid": "2F3WFX8J4WQH8T72X9",
                        "status": "Active",
                        "created_date": "2025-06-30T00:11:22",
                        "item_name": "Sildenafil 100 mg tablet, 4",
                        "quantity": "4",
                        "number_of_repeats_authorised": "0",
                        "repeat_intervals": "0",
                        "pbs_code": "",
                        "item_strength": "",
                        "item_form": "",
                        "route_administration": "Oral",
                        "pbsdva_authority_number": "0",
                        "phone_approval_authority_number": "",
                        "schedule_number": "S4",
                        "private_prescription": true,
                        "emergency_supply": false,
                        "brand_substitution_not_allowed": false,
                        "reason_for_prescribing": "",
                        "patient_instructions": "xcxc",
                        "doctor_notes": "",
                        "pharmacy_name": "",
                        "regulation_24": false,
                        "controlled_substance_reference": "",
                        "unusual_dose_flag": false,
                        "unusual_qty_flag": false,
                        "my_sl_consent": true,
                        "send_to_pharmacy": "",
                        "unlisted_item_repat_authority": false,
                        "prescriber_script_number": "19192",
                        "custom_drug_details": {
                          "custom_product_id": "1234567890"
                        },
                        "prescriber": {
                          "title": "Dr",
                          "given_name": "Emily",
                          "family_name": "Johnson",
                          "user_id": "8e1c9bab-6614-4723-8981-87c8fa026dae"
                        },
                        "delivery": {
                          "method": "EMAIL",
                          "recipient_type": "PHARMACY",
                          "destination": "scripts@bayside-pharmacy.com.au",
                          "pharmacy": {
                            "pharmacy_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                            "name": "Bayside Pharmacy"
                          }
                        }
                      },
                      {
                        "prescription_type": "ELECTRONIC",
                        "url": "https://egw-etp-int-qrcode-web-au-se.azurewebsites.net/scripts/2F3WFX8B8K66686MVA",
                        "scid": "2F3WFX8B8K66686MVA",
                        "status": "Ceased",
                        "created_date": "2025-04-17T05:09:02",
                        "item_name": "Oxycodone hydrochloride 20 mg capsule, 20",
                        "quantity": "500",
                        "number_of_repeats_authorised": "0",
                        "repeat_intervals": "0",
                        "pbs_code": "8502L",
                        "item_strength": "",
                        "item_form": "",
                        "route_administration": "Oral",
                        "pbsdva_authority_number": "10074227",
                        "phone_approval_authority_number": "1234567",
                        "schedule_number": "S8",
                        "private_prescription": false,
                        "emergency_supply": false,
                        "brand_substitution_not_allowed": false,
                        "reason_for_prescribing": "",
                        "patient_instructions": "1x am pm",
                        "doctor_notes": "",
                        "pharmacy_name": "",
                        "regulation_24": false,
                        "controlled_substance_reference": "",
                        "unusual_dose_flag": false,
                        "unusual_qty_flag": false,
                        "my_sl_consent": true,
                        "send_to_pharmacy": "",
                        "unlisted_item_repat_authority": false,
                        "prescriber_script_number": "18631",
                        "custom_drug_details": {},
                        "prescriber": {
                          "title": "Dr",
                          "given_name": "Emily",
                          "family_name": "Johnson",
                          "user_id": "8e1c9bab-6614-4723-8981-87c8fa026dae"
                        },
                        "delivery": {
                          "method": "SMS",
                          "recipient_type": "PATIENT",
                          "destination": "+61400000000"
                        }
                      }
                    ]
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_yza567",
                  "pagination": {
                    "count": 1,
                    "hasNext": false,
                    "limit": 50,
                    "offset": 0,
                    "lastKey": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 400,
                  "error": {
                    "type": "https://parchment.health/errors/invalid-request",
                    "title": "Bad request",
                    "detail": "Invalid query parameters provided."
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_bcd890",
                  "meta": {
                    "apiVersion": "1.0"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 401,
                  "code": "UNAUTHORIZED",
                  "error": {
                    "type": "https://parchment.health/errors/authentication-required",
                    "title": "Unauthorized",
                    "detail": "Valid authentication token is required."
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_efg123"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 403,
                  "code": "FORBIDDEN",
                  "error": {
                    "type": "https://parchment.health/errors/insufficient-scope",
                    "title": "Insufficient permissions",
                    "detail": "This operation requires the 'read:patient_prescription' scope"
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_hij456"
                }
              }
            }
          },
          "404": {
            "description": "Patient not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "code": "RESOURCE_NOT_FOUND",
                  "error": {
                    "type": "https://parchment.health/errors/patient-not-found",
                    "title": "Patient not found",
                    "detail": "Patient with the specified ID does not exist.",
                    "instance": "/patients/invalid-id"
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_klm789"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/users/{user_id}/patients/{patient_id}/prescriptions/{scid}": {
      "get": {
        "description": "Get a single prescription by SCID for a specific patient",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patient_id",
            "in": "path",
            "required": true,
            "description": "Patient ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "scid",
            "in": "path",
            "required": true,
            "description": "Script ID (SCID) of the prescription",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved prescription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPrescriptionExternal"
                },
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "Prescriptions retrieved successfully",
                  "data": {
                    "patient": {
                      "given_name": "John",
                      "family_name": "Smith",
                      "date_of_birth": "1990-01-15T00:00:00.000Z",
                      "sex": "M",
                      "patient_id": "1234567890",
                      "partner_patient_id": "PARTNER#12345"
                    },
                    "prescription": {
                      "prescription_type": "ELECTRONIC",
                      "url": "https://egw-etp-int-qrcode-web-au-se.azurewebsites.net/scripts/2F3WFX8J4WQH8T72X9",
                      "scid": "2F3WFX8J4WQH8T72X9",
                      "status": "Active",
                      "created_date": "2025-06-30T00:11:22",
                      "item_name": "Sildenafil 100 mg tablet, 4",
                      "quantity": "4",
                      "number_of_repeats_authorised": "0",
                      "pbs_code": "",
                      "item_strength": "",
                      "item_form": "",
                      "route_administration": "Oral",
                      "custom_drug_details": {},
                      "prescriber": {
                        "title": "Dr",
                        "given_name": "Emily",
                        "family_name": "Johnson",
                        "user_id": "8e1c9bab-6614-4723-8981-87c8fa026dae"
                      },
                      "delivery": {
                        "method": "EMAIL",
                        "recipient_type": "PHARMACY",
                        "destination": "scripts@bayside-pharmacy.com.au",
                        "pharmacy": {
                          "pharmacy_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                          "name": "Bayside Pharmacy"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 401,
                  "code": "UNAUTHORIZED",
                  "error": {
                    "type": "https://parchment.health/errors/authentication-required",
                    "title": "Unauthorized",
                    "detail": "Valid authentication token is required."
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_efg123"
                }
              }
            }
          },
          "404": {
            "description": "Prescription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "code": "RESOURCE_NOT_FOUND",
                  "error": {
                    "type": "https://parchment.health/errors/resource-not-found",
                    "title": "Resource not found",
                    "detail": "Prescription with scid 'ABC123' not found for patient 'patient-uuid'."
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_klm789"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/users": {
      "post": {
        "description": "Creates a new user in Parchment",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "User data to add to Parchment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "User created. Read the `code` field — a provider record may not have been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                },
                "examples": {
                  "Success": {
                    "summary": "User created and provider record created",
                    "value": {
                      "success": true,
                      "statusCode": 201,
                      "message": "User created successfully",
                      "code": "USER_CREATED",
                      "data": {
                        "user_id": "0b4c1a49-fea8-4922-a3da-2ca8ff8af9bd"
                      },
                      "timestamp": "2026-09-04T10:30:00.000Z",
                      "requestId": "1-68d1b225-2a98752c7b2da3fa489267fc"
                    }
                  },
                  "Provider not found": {
                    "summary": "User created, but NO provider record — the user cannot prescribe",
                    "value": {
                      "success": true,
                      "statusCode": 201,
                      "message": "User created but provider not found",
                      "code": "USER_CREATED_PROVIDER_NOT_FOUND",
                      "data": {
                        "user_id": "faa41171-235e-4822-b524-9f8bb07ebd3d",
                        "warning": "User created successfully but provider search failed"
                      },
                      "timestamp": "2026-09-04T10:30:00.000Z",
                      "requestId": "1-68d1b61a-156915754ad812fd58a24d90"
                    }
                  },
                  "Provider already exists": {
                    "summary": "User created, but the HPI-I is already held by another active provider in this organization",
                    "value": {
                      "success": true,
                      "statusCode": 201,
                      "message": "User created but provider already exists",
                      "code": "USER_CREATED_PROVIDER_ALREADY_EXISTS",
                      "data": {
                        "user_id": "5b048ac0-b078-4955-88d5-1c4bc5147d3b",
                        "warning": "User created successfully but provider creation failed"
                      },
                      "timestamp": "2026-09-04T10:30:00.000Z",
                      "requestId": "1-68d1bc7a-2249a4da021230520c2dc288"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the identity provider rejected the user parameters (for example, a malformed email)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication required, token invalid, or the token lacks the create:user scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rejected by the API gateway, or the user creation service refused access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - platform configuration error; contact Parchment support with the requestId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - a Parchment user already exists with this email address. Email addresses are unique across the whole platform, not per organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiValidationErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limited by the identity provider; retry with back-off",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - unexpected error, including a request body that is not valid JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Retrieves every user in an organization. The response is a flat array of user_id and email only. There is no pagination and no other field is returned — use GET /users/{user_id} for full user and provider detail.",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersListResponse"
                },
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "Retrieved 2 users successfully",
                  "code": "SUCCESS",
                  "data": [
                    {
                      "user_id": "0b4c1a49-fea8-4922-a3da-2ca8ff8af9bd",
                      "email": "darlene.cameron@example.com"
                    },
                    {
                      "user_id": "5b048ac0-b078-4955-88d5-1c4bc5147d3b",
                      "email": "john.smith@example.com"
                    }
                  ],
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "1-68d1b225-2a98752c7b2da3fa489267fc"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/users/{user_id}": {
      "get": {
        "description": "Retrieves a specific user from Parchment",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetailsResponse"
                },
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "User details retrieved successfully",
                  "code": "SUCCESS",
                  "data": {
                    "user_id": "0b4c1a49-fea8-4922-a3da-2ca8ff8af9bd",
                    "email": "darlene.cameron@example.com",
                    "full_name": "Darlene Cameron",
                    "access_roles": [
                      "admin",
                      "provider"
                    ],
                    "details": {
                      "given_name": "Darlene",
                      "family_name": "Cameron",
                      "title": "Dr",
                      "date_of_birth": "1969-10-02",
                      "sex": "F"
                    },
                    "provider_details": {
                      "title": "Dr",
                      "hpii_number": "8003614900029560",
                      "erx_entity_id": "AB12C",
                      "prescriber_number": "1234567",
                      "prescriber_type": "M",
                      "provider_number": "123456789",
                      "ahpra_number": "MED0000932846",
                      "qualifications": "MBBS, FRACGP",
                      "hospital_provider_number": "H123456",
                      "family_name": "Cameron",
                      "given_name": "Darlene",
                      "date_of_birth": "1969-10-02",
                      "sex": "F",
                      "phone": "0412345678",
                      "australian_address": {
                        "street_number": "1",
                        "street_name": "Collins Street",
                        "suburb": "Melbourne",
                        "state": "VIC",
                        "postcode": "3000"
                      }
                    }
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "1-68d1b225-2a98752c7b2da3fa489267fc"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a user in Parchment",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "User data to update in Parchment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateUserResponse"
                },
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "User updated successfully",
                  "data": {
                    "user_id": "usr_abc123def456"
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_abc123"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Update conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiValidationErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/users/{user_id}/custom-drugs": {
      "get": {
        "description": "Retrieves the custom drug list (organization-level and user-level) for a user from Parchment",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom drugs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExternalCustomDrug"
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "Retrieved 2 custom drugs successfully",
                  "code": "SUCCESS",
                  "data": [
                    {
                      "custom_drug_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "item_generic_name": "Amoxicillin",
                      "item_trade_name": "Amoxil",
                      "brand_name": "Amoxil",
                      "item_strength": "500mg",
                      "item_form": "Capsule",
                      "route_of_administration": "Oral",
                      "quantity": "20",
                      "max_repeats": "2",
                      "poison_class": "S4",
                      "custom_product_id": "EK-12345",
                      "description": "Antibiotic",
                      "patient_instructions": "Take one capsule twice daily",
                      "doctor_instructions": "Review after course"
                    }
                  ],
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_abc123"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a user-level custom drug for a user in Parchment",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Custom drug to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomDrugInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom drug created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDrugResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/custom-drugs": {
      "get": {
        "description": "Retrieves the organization-level custom drug catalog (shared org drugs only).",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "custom_product_id",
            "in": "query",
            "required": false,
            "description": "Filter the catalog to drugs with this exact custom_product_id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom drugs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExternalCustomDrug"
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Bulk-creates organization-level custom drugs. Accepts a JSON array; returns a per-item success/failure summary.",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Non-empty array of custom drugs to create at organization level",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomDrugInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk create processed (at least one succeeded)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDrugBulkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body, or all items failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes ALL organization-level custom drugs for the organization. Irreversible. Requires confirm=true.",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "confirm",
            "in": "query",
            "required": true,
            "description": "Must be true to confirm the destructive wipe",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All organization custom drugs deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing confirm=true",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/custom-drugs/{custom_drug_id}": {
      "put": {
        "description": "Updates one organization-level custom drug. Send only the fields to change.",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "custom_drug_id",
            "in": "path",
            "required": true,
            "description": "custom_drug_id from the catalog or bulk-create response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Partial custom drug fields to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomDrugUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom drug updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDrugResponse"
                }
              }
            }
          },
          "400": {
            "description": "No updatable fields provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Custom drug not found for this organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes one organization-level custom drug.",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "custom_drug_id",
            "in": "path",
            "required": true,
            "description": "custom_drug_id from the catalog or bulk-create response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom drug deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/users/{user_id}/custom-drugs/{drug_id}": {
      "put": {
        "description": "Updates a user-level custom drug. Send only the fields to change.",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "drug_id",
            "in": "path",
            "required": true,
            "description": "Custom drug ID (custom_drug_id from the list endpoint)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Partial custom drug fields to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomDrugUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom drug updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDrugResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Custom drug not found for this user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a user-level custom drug.",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "drug_id",
            "in": "path",
            "required": true,
            "description": "Custom drug ID (custom_drug_id from the list endpoint)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom drug deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/users/{user_id}/roles": {
      "put": {
        "description": "Updates the roles of a user in Parchment",
        "parameters": [
          {
            "name": "x-organization-secret",
            "in": "header",
            "required": true,
            "description": "Organization secret for authentication - provided by Parchment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "User roles data to update in Parchment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRoles"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User roles updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRolesResponse"
                },
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "User roles updated successfully",
                  "data": {
                    "user_id": "usr_abc123def456",
                    "access_roles": [
                      "admin",
                      "provider"
                    ]
                  },
                  "timestamp": "2024-01-15T10:30:00.000Z",
                  "requestId": "req_1705312200000_abc123"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalApiErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CustomDrugInput": {
        "type": "object",
        "description": "Custom drug fields supplied by a partner when creating a drug.",
        "required": [
          "item_generic_name",
          "item_strength",
          "item_form",
          "route_of_administration",
          "quantity",
          "poison_class",
          "max_repeats"
        ],
        "properties": {
          "item_generic_name": {
            "type": "string",
            "maxLength": 280
          },
          "item_trade_name": {
            "type": "string",
            "maxLength": 280
          },
          "brand_name": {
            "type": "string",
            "maxLength": 100
          },
          "item_strength": {
            "type": "string",
            "maxLength": 100
          },
          "item_form": {
            "type": "string",
            "maxLength": 50
          },
          "route_of_administration": {
            "type": "string",
            "maxLength": 50
          },
          "quantity": {
            "type": "string",
            "description": "String or number; coerced to string"
          },
          "max_repeats": {
            "type": "string",
            "description": "String or number; coerced to string"
          },
          "poison_class": {
            "type": "string",
            "maxLength": 2,
            "pattern": "^S[2-9]$",
            "description": "Schedule with the S prefix, S2 to S9. A bare digit is rejected.",
            "example": "S4"
          },
          "custom_product_id": {
            "type": "string",
            "maxLength": 50,
[...]
